<?xml version="1.0"?>
<ruleset name="PHP_Depend">
    <description>Coding standard for PDepend.</description>

    <file>src</file>
    <arg name="cache" value=".phpcs-cache"/>

    <rule ref="PHPMD"/>

</ruleset>
